.payment{
    background-image: url(https://cdn.wallpapersafari.com/39/61/90hKHk.jpg);
    text-align: center;
    align-items: center;
    background-position: right;
    width: 100%;
    height: 100vh;
}